{% extends 'base.html.twig' %}

{% block header %}
<section class="module-medium bg-dark-30 portfolio-page-header" data-background="assets/images/parque/Refugio_Miramundos_3.webp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">El parque natural de <br> Sierra Mágina</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-justify">
                <p>En el corazón de Jaén encontramos el paraje de Sierra Mágina, un espacio declarado Parque Natural desde 1989. Toda El parque -19.900 hectáreas- posee un relieve muy abrupto de fuertes pendientes e incluso paredones verticales por lo que es un lugar muy atractivo para la práctica de deportes como el alpinismo, la escalada o la bicicleta de montaña. También puedes hacer diferentes rutas de diversa dificultad para disfrutar del senderismo.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-push-6"><img class="center-block" src="assets/images/parque/sierra-nieve.webp" alt="Sierra con nieve"></div><br>
            <div class="col-md-6 col-md-pull-6">
                <h4 class="font-alt text-right">GEOLOGÍA Y RELIEVE</h4>
                <p class="text-justify">Perteneciente al Sistema Subbético, el relieve de Sierra Mágina se caracteriza por sus contrastes de altitud, que van desde los 600 metros hasta superar los 2.000 metros sobre el nivel del mar.</p>
                <p class="text-justify">Este relieve montañoso le hace contar con las cumbres más altas de la provincia. Entre ellas destaca el pico Mágina, que alcanza los 2.167 metros de altura, la Peña de Jaén, de 2.157, o el Almadén con sus 2.032 metros de altitud. Sus cumbres permanecen nevadas durante buena parte del invierno.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6"><img class="center-block" src="assets/images/parque/adelfas.webp" alt="Adelfa"></div><br>
            <div class="col-md-6">
                <h4 class="font-alt">FLORA</h4>
                <p class="text-justify">Sierra Mágina cuenta con uno de los catálogos de endemismos florales más extensos y valiosos de la península ibérica. La nómina de especies botánicas es inmensa, y su número de endemismos supera con creces al de otros conocidos espacios protegidos de Europa. La mayor parte de estas rarezas se encuentran por encima de los mil quinientos metros de altura, a la sombra de sabinas, quejigales o enebros rastreros.</p>
                <p class="text-justify">Ante esta gran diversidad de especies vegetales, podemos destacar el Adelfal del Río Cuadros, el más grande de todo el territorio español, o el Pinar de Cánava.</p>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 col-md-push-6"><img class="center-block" src="assets/images/parque/cabra-montes.webp" alt="Cabra montés"></div><br>
            <div class="col-md-6 col-md-pull-6">
                <h4 class="font-alt text-right">FAUNA</h4>
                <p class="text-justify">La fauna está representada por la cabra montés, que suelen ser fácilmente avistables en las rocas más escarpadas de la zona. Los numerosos arroyos que descienden desde las altas cumbres, favorecen la presencia de interesantes colonias de invertebrados.</p>
                <p>Por otro lado, también es importantísima la presencia de varios tipos de rapaces, entre las que destacan el cernícalo, el halcón, el buitre leonado y dos tipos de águilas: la perdicera y la real. </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6"><img class="center-block" src="assets/images/parque/fuenmayor.webp" alt="Fuenmayor"></div>
            <div class="col-md-6">
                <br>
                <h4 class="font-alt">RÍOS Y HUMEDALES</h4>
                <p class="text-justify">Además del relieve y una variada flora, el agua de la cuenca del Guadalquivir, con los afluentes Torres y Cuadros, es otra de las protagonistas de la zona, que dibuja paisajes tan bonitos como la Cascada del Zurreón o el Manantial de Fuenmayor.</p>
            </div>
        </div>
        <br>
        <hr class="divider-w pt-20">
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="font-alt text-center">Lugares que no te puedes perder</h4><br>
                <div role="tabpanel">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <li class="active"><a href="#miramundos" data-toggle="tab">REFUGIO DE MIRAMUNDOS</a></li>
                        <li><a href="#cuadros" data-toggle="tab">PARAJE DE CUADROS</a></li>
                        <li><a href="#pinar" data-toggle="tab">PINAR DE CÁNAVA</a></li>
                        <li><a href="#arbuniel" data-toggle="tab">NACIMIENTO RÍO ARBUNIEL</a></li>
                        <li><a href="#hutar" data-toggle="tab">PARAJE DE HÚTAR</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="miramundos">
                            <div class="row">
                                <div class="col-md-6"><br><img class="center-block" src="assets/images/parque/miramundos-refugio.webp" alt="Refugio Miramundos"></div><br>
                                <div class="col-md-6">
                                    <p class="text-justify">Se encuentra situado a 2.077 metros de altura, compartiendo parte del sendero con una de las rutas más frecuentadas por los amantes de la montaña, la del Pico Mágina.</p>
                                    <p class="text-justify">A pesar de ser una ruta con un gran desnivel, merecerá la pena el esfuerzo, tan solo por las vistas que tendrás desde el lugar, considerada como una de las panorámicas de Sierra Mágina más espectaculares que podrás contemplar.</p>
                                    <p class="text-justify">Desde Miramundos es posible divisar la orografía de casi toda la provincia, obesrvándose desde este punto la Sierra de Andujar o el Parque Natural de la Sierra de Cazorla, Segura y Las Villas. Pero también alcanza la vista hasta sierras de otras provincias como Sierra Nevada o la Sierra de Baza.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="cuadros">
                            <div class="row">
                                <div class="col-md-6"><br>
                                    <img class="center-block" src="assets/images/parque/cuadros.webp" alt="Cuadros"></div><br>
                                <div class="col-md-6">
                                    <p class="text-justify">Lugar de visita obligada en Sierra Mágina, por su característica naturaleza. Se encuentra sitiado a escasos 5 kilómetros de la población de Bedmar, en el valle que forma el río Cuadros, en pleno Parque Natural de Sierra Mágina.</p>
                                    <p class="text-justify">La ribera del río Cuadros atesora una de las más importantes masas naturales y de mayor tamaño de adelfas de la península. Esta exuberante vegetación se entrelaza formando una especie de bóveda para el visitante, generando un paisaje muy llamativo.</p>
                                    <p class="text-justify">En este enclave, encontramos el Santuario de la Virgen de Cuadros, vigilado por un torreón imponente que yace alerta desde el siglo XI, en conexión con el castillo de Bedmar.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="pinar">
                            <div class="row">
                                <div class="col-md-6"><br><img class="center-block" src="assets/images/parque/pinar.webp" alt="Pinar de Cánava"></div><br>
                                <div class="col-md-6">
                                    <p class="text-justify">Partiendo de la ermita de Cánava, en Jimena, se encuentra el Pinar de Cánava, un espacio verde declarado Monumento Natural por la Junta de Andalucía en 2001, por su valor ecológico y paisajístico. Es un bosque formado por pinos carrascos autóctonos, de tamaño excepcional y con más de dos siglos de antigüedad. En este hábitat podremos encontrar especies como el águila perdicera o la paloma torcaz.</p>
                                    <p class="text-justify">Se eleva en una senda bien señalizada e ideal para los amantes del senderismo. Si continuamos la ruta, subiendo hacia la parte alta, además de unas vistas impresionantes, se puede  visitar la Cueva de la Graja, declarada Monumento Histórico en 1924, por las pinturas rupestres de época neolítica que alberga.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="arbuniel">
                            <div class="row">
                                <div class="col-md-6"><br><img class="center-block" src="assets/images/parque/nacimiento-arbuniel.webp" alt="Nacimiento río Arbuniel"></div><br>
                                <div class="col-md-6">
                                    <p class="text-justify">El Nacimiento del río Arbuniel, también conocido como El Nacimiento del Agua, se encuentra situado en la localidad de Arbuniel, una pedanía del municipio de Cambil. Se trata de uno de los manantiales más caudalosos e importantes de Sierra Mágina. El curso del río está canalizado en multitud de acequias que dan riqueza a las tierras del municipio. En su día, tuvo un papel fundamental como motor de los molinos de grano y aceite, mientras que, en la actualidad, se usa para el riego del olivar.</p>
                                    <p class="text-justify">Actualmente alberga un apacible merendero, adecuado para un fantástico día de campo o simplemente para un alto en el camino de algunas de las rutas de la sierra.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="hutar">
                            <div class="row">
                                <div class="col-md-6"><br><img class="center-block" src="assets/images/parque/hutar.webp" alt="Hútar"></div><br>
                                <div class="col-md-6">
                                    <p class="text-justify">A escasos kilómetros de la localidad de Albanchez de Mágina, encontramos este bello paraje. El nacimiento del río Hútar, gracias al deshielo de las nieves del monte, aumenta su caudal, discurriendo por leves cascadas de aguas cristalinas y generando manantiales que dan lugar a un oasis verde entre cerros y olivares.</p>
                                    <p class="text-fustify">Sus aguas fueron utilizadas antiguamente como fuerza motriz para los molinos harineros y  para el para el riego de huertas y olivares. En la actualidad es un pequeño complejo de recreo, rodeado de nogales y castaños, para disfrutar de la naturaleza y de una oferta gastronómica bastante destacada.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
