{% extends 'base.html.twig' %}

{% block title %}Conoce Mágina{% endblock %}

{% block header %}
    {% include "components/headerMain.html.twig" %}
{% endblock %}

{% block body %}
<section class="module sliding-portfolio" id="introfrase">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="module-title font-alt">Naturaleza interior</h2>
        <div class="module-subtitle font-serif large-text">Piérdete en una tierra llena de contrastes, desde montañas escarpadas a campiñas olivareras conforman un paisaje rico y variado que resulta un verdadero regalo para los sentidos.</div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="owl-carousel text-center" data-items="3" data-pagination="false" data-navigation="false">
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Sierra_Magina_2.webp" alt="sierra"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Vista de Sierra Mágina</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Sierra_Magina_1.webp" alt="sierra"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Entorno natural</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Vistas Sierra.webp" alt="vistas"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Sierra Nevada desde Mágina</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Fuen_Mayor_1.webp" alt="fuenmayor"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Fuenmayor - Torres</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Refugio_Miramundos.webp" alt="refugio"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Refugio Miramundos</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="col-sm-12">
              <div class="work-item">
                <div class="work-image"><img src="assets/images/sierra/Mata_Bejid_1.webp" alt="Mata Bejid"/></a></div>
                <div class="work-caption font-alt">
                  <h3 class="work-title">Mata Bejid</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-5">
          <div class="large-text align-center"><br><a class="section-scroll" href="#intro"><i class="fa fa-angle-down"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-w pt-20">
<section id="intro">
  <div class="container">
    <div class="row landing-image-text">
      <div class="col-md-6 col-md-push-6"><img class="center-block" src="assets/images/sierra/sierra_nubes2.webp" alt=""></div>
      <div class="col-md-6 col-md-pull-6">
        <h2 class="font-alt">La provincia desconocida</h2>
        <p><strong class="font-serif">"En Jaén no hay más que olivos"</strong>. ¿Cuántas veces hemos escuchado esta atrevida afirmación al atravesar el puerto de Despeñaperros? Aquellos que piensan que esta provincia es solo tierra de olivar, es que no conocen lo que ella alberga.</p>
        <p>Tierra de olivos y sierras, viendo nacer el Guadalquivir, Jaén se alza como uno de los mejores destinos de turismo rural de España. Es la <strong>región de Europa con más fortalezas</strong>, cuenta con la <strong>mayor superficie de espacios naturales protegidos de España</strong>, nada más y nada menos que 304.175 hectáreas, entre los que se encuentra el Parque Natural de Sierra Mágina, y, además, tiene una cultura y una gastronomía a la par que su belleza.</p>
        <p>En Sierra Mágina, Jaén deja de parecer seco y permite brotar agua abundante por todas partes, redecorando el paisaje con pequeños oasis verdes y rutas fabulosas para los forofos del montañismo.</p>
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6">
        <img class="center-block" src="assets/images/sierra/Mata_Bejid_reduc.webp" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="font-alt">Mágina, un lugar para perderse</h2>
        <p> Sierra Mágina, la espectacular alma verde de Jaén, posee un espacio declarado Parque Natural desde 1989. A modo de isla rocosa se alza la mole montañosa, con una de las cumbres más elevadas de Andalucía, el Pico Mágina, con sus 2.167 metros de altitud.</p>
        <p>Este parque natural alberga, en su reducida extensión, una gran diversidad de paisajes, con un relieve muy abrupto de fuertes pendientes e incluso paredones verticales por lo que es un lugar muy atractivo para la práctica de deportes como el alpinismo, la escalada o la bicicleta de montaña. También puedes hacer diferentes rutas de diversa dificultad para disfrutar del senderismo. </p><br/>
        <p class="align-center"><a class="btn btn-border-d btn-circle section-scroll" href="#location">Visita Mágina</a></p>
      </div>
    </div>
  </div>
</section>
<section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="assets/images/sierra/Sierra_Magina_2.webp">
  <div class="testimonials-slider pt-140 pb-140">
    <ul class="slides">
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">Es un parque natural con diversidad en fauna y flora. Es el más escarpado de la provincia, para el que le guste los deportes de aventura. Con una gastronomía y cultura muy  interesantes.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Carmen García</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">Preciosa sierra, buenas carreteras para rutas en moto o bicicleta. Pueblos agradables con buena gastronomía y gentes. Es una zona espectacular para pasar unos dias y disfrutar de la naturaleza.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Jorge Talens</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">Es una auténtica " pasada", es una pena, que sea un parque tan poco conocido por el público de fuera de la Comunidad de Andalucía, porque es un sitio digno de visitar, por los que son amantes de la Naturaleza.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Paola Jiménez</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section id="information">
  <div class="container">
    <div class="row landing-image-text">
      <div class="col-md-6">
        <img class="center-block" src="assets/images/pueblos/Bedmar.webp" alt="">
      </div>
      <div class="col-md-6">
        <h2 class="font-alt">Pueblos con historia</h2>
        <p>Por sus tierras milenarias cruzaba la Ruta de los Nazaríes , Patrimonio histórico y Monumental que unía las Navas de Tolosa con el Reino de Granada, escenario de cientos de batallas y motivo por el que esta región está llena de fortificaciones y castillos.</p>
        <p>La totalidad de los pueblos que están incluidos en los límites del parque poseen una arquitectura tradicional de extraordinario valor antropológico. Dispuestos en círculo alrededor del gran macizo, los pueblos muestran calles blancas y serpenteantes, con plazoletas mínimas donde se alzan restos de viejas fortalezas árabes e iglesias de regusto renacentista.</p>
        <p>Sierra Mágina no es sólo uno de los más extraños e insospechados espacios naturales de Andalucía. Es, además, un conjunto de pueblos que conservan sus ancestrales formas de vida y una arquitectura respetuosa y apegada a la tierra. </p>
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6 col-md-push-6"><img class="center-block" src="assets/images/gastronomia/pipirrana.webp" alt=""></div>
      <div class="col-md-6 col-md-pull-6">
        <h2 class="font-alt">Disfruta de su gastronomía</h2>
        <p>En Sierra Mágina la gastronomía es una parte fundamental del paisaje, la sociedad y su cultura. Junto con el pan, el aceite de oliva virgen extra tiene un lugar preferente en la cocina tradicional de los pueblos y aldeas de la serranía. No en vano, la mayor parte de sus tierras cultivables están dedicadas al olivar, de cuyas aceitunas se obtiene un zumo puro y dorado que es sometido a los incuestionables parámetros de calidad de la <strong>Denominación de Origen Sierra Mágina</strong>.</p>
        <p>Desde el medievo, el aceite de oliva es ingrediente imprescindible en la preparación de cualquier receta y para la conserva de los productos de la matanza, uno de los rituales gastronómicos más practicados en la comarca. Las huertas de Sierra Mágina suministran las frutas, verduras y hortalizas frescas con las que se elaboran gazpachos, pipirranas y encebollados, además de conservas de espárragos, pimientos de piquillo, alcachofas y habas tiernas.</p>
      </div>
    </div>
  </div>
</section>
<section class="module bg-dark-30 video" data-background="assets/images/sierra/Siembra.webp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video-box">
          <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=_0rv7y4Cu48"><span class="icon-video"></span></a></div>
          <div class="video-title font-alt">Un paseo por Sierra Mágina</div>
          <div class="video-subtitle">Mira este breve video y decídete a visitar este increible lugar</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="font-alt">Contacta con nosotros</h4><br/>
        <form id="contactForm" role="form" method="post" action="">
          <div class="form-group">
            <label class="sr-only" for="name">Nombre</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Nombre*" required="required" data-validation-required-message="Por favor introduce tu nombre."/>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Email*" required="required" data-validation-required-message="Por favor introduce tu email."/>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="7" id="message" name="message" placeholder="Mensaje*" required="required" data-validation-required-message="Por favor introduce tu mensaje."></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div class="text-center">
            <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Enviar</button>
          </div>
        </form>
        <div class="ajax-response font-alt" id="contactFormResponse"></div>
      </div>
      <div class="col-sm-6">
        <h4 class="font-alt">Escríbenos</h4><br/>
        <p>Si necesitas más información o te gustaría que tu establecimiento/empresa aparezca en nuestra web, no dudes en ponerte en contacto con nosotros. Estaremos encantados de atenderte.</p>
        <hr/>
        <h4 class="font-alt">Horario</h4><br/>
        <ul class="list-unstyled">
          <li>Lunes - Viernes: 08:00 h a 18:00 h</li>
          <li>Sábados: 10:00 h a 13:00 h</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="module-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
        <div class="callout-text">
          <h3 class="callout-title align-center font-alt">Únete a nuestra comunidad</h3>
          <p>Regístrate, comparte tus rutas  y ayudanos a dar visibilidad a Sierra Mágina</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-2">
        <div class="callout-btn-box"><a class="btn btn-round" href="">Regístrate</a></div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-d">
{% endblock %}