{% extends 'base.html.twig' %}

{% block header %}
<section class="module bg-dark-30 portfolio-page-header" data-background="assets/images/localizacion/mirador.webp">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <h1 class="module-title font-alt">Localización</h1>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="module" id="location">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Ubicación del Parque Natural</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-offset-1">
          <p class="text-justify">El Parque Natural de Sierra Mágina es un espacio natural situado al sur de la provincia de Jaén, en una zona próxima a los límites de la provincia de Granada. Forma parte del macizo subbético que se prolonga, hacia el suroeste, hasta tierras cordobesas. El parque -19.900 hectáreas- posee uno de los más valiosos catálogos de endemismos florales de Europa y un relieve montañoso que le hace contar con las cumbres más altas de la provincia. El pico Mágina alcanza los 2.167 metros de altura y El Almadén los 2.032. </p>
          <p class="text-justify">Sierra Mágina tiene una cara norte y una cara sur. Los pueblos del parque se reparten entre los dos lados, alimentando peculiaridades únicas que diferencian a los unos de los otros.Una de las más bellas carreteras de la cara norte de Sierra Mágina discurre entre Torres y Albanchez de Mágina a través del puerto de Torres, desde donde se domina una inmensa vista de la serranía, los almendros y el valle del Guadalquivir. En el lado sur es recomendable la carretera que une Cambil y Huelma, así como la que conduce a Bélmez de la Moraleda, Jódar o Cabra de Santo Cristo.</p>
          <p class="text-justify">Sierra Mágina está rodeada de puertas, pero una de las más transitadas desciende por la autovía que une Bailén y Motril, deja a un lado el castillo medieval de La Guardia, la Charca y la Huerta de Pegalajar y se interna por carreteras estrechas y comarcales hasta la blanca localidad de Cambil.</p>
          <p class="text-justify">En Jaén, donde se alza frente al valle medio del Guadalquivir, entre la capital y el corredor natural que une y separa la Sierra de Cazorla de las tierras altas de la provincia de Granada, Mágina se advierte como un gran mole rocosa, de escarpados barrancos y profundos farallones donde se citan la mayores alturas de la provincia y las terceras de Andalucía, después de Sierra Nevada y La Sagra.</p>
          <br>
          <p><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1AnqTQyIXbCJr8L01eeauDoRGDqG4eyU&ehbc=2E312F" width="950" height="480"></iframe></p>
        </div>
      </div>
    </div>
</section>
{% endblock %}