<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <strong>Albanchez de Mágina</strong> (anteriormente denominado Albanchez de Úbeda hasta el año 2000​) es un municipio de la comarca de <strong>Sierra Mágina</strong>, en la provincia de Jaén, Andalucía, con una población de {{ municipio.habitantes }} habitantes. La mayor parte del término municipal, así como el núcleo urbano, se encuentran comprendidos dentro del <strong>Parque Natural de Sierra Mágina</strong> y en su término municipal se localiza la mayor elevación de la provincia de Jaén, <strong>el Pico Mágina</strong>, con 2167 metros de altitud. El núcleo urbano, con un centro histórico de traza medieval, se encuentra al pie del <strong>monte Aznaitín</strong> bajo el castillo del siglo XV, declarado Monumento-Histórico en 1985.
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6"><img class="center-block" src="assets/images/pueblos/albanchez/vista.webp" alt=""> <br></div>

      <div class="col-md-6 text-justify">
        <p class="font-alt text-center"><strong>Historia</strong></p>
        <p>Por estas tierras han pasado numerosas civilizaciones y culturas que han dejado rastro de su paso. Desde la prehistoria aparecen huellas de poblamiento humano, como en la <strong>Cueva de los Esqueletos</strong>, en el Paraje de las Zorreras, descubierto en el siglo XIX por unos campesinos. Los investigadores lo han identificado con un enterramiento múltiple de las Edades del Cobre-Bronce. De época romana se han encontrado varios tesorillos de monedas y varias inscripciones, de los que algunos investigadores deducen la existencia de una ciudad romana enterrada, llamada <strong>Campaneana</strong>. </p>
        <p>El núcleo urbano de Albanchez debió tener su origen entre los siglos VII y IX, cuando la población campesina empleara la peña, bajo la que se asienta el pueblo, para buscar refugio. Hacia el siglo XI se construiría la muralla de la población, que entonces estaba por encima de la actual. De esta primitiva fortificación quedan los restos de una torre cuadrada. En 1231 las tropas de <strong>Fernando III de Castilla</strong> reconquistan esta población, que perteneció al señorío de Jódar hasta 1238, en que fue vendido a Úbeda. En 1309, <strong>Fernando IV de Castilla</strong> concede Albanchez a la <strong>Encomienda de la Orden de Santiago</strong>, quedando como aldea de Bedmar. Hasta que en el año 1419 consigue jurisdicción propia por privilegio del <strong>Infante D. Enrique</strong>.
        </p>
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6 col-md-push-6">
        <img class="center-block" src="assets/images/pueblos/albanchez/castilloAlb.webp" alt=""><br>
        <img class="center-block" src="assets/images/pueblos/albanchez/plaza.webp" alt=""> <br>
        <img class="center-block" src="assets/images/pueblos/albanchez/fuente.webp" alt=""><br>
      </div>
      <div class="col-md-6 col-md-pull-6 text-justify">
        <p class="font-alt text-center"><strong>Patrimonio histórico</strong></p>
        <p class="font-alt"><strong>Castillo</strong></p>
        <p> El castillo de Albanchez de Mágina domina y preside el pueblo, aposentado sobre el primer risco de la Sierra de los Castillejos. A pesar de sus pequeñas dimensiones y de sus estrecheces interiores, su arriscada posición dificulta enormemente su acceso. <br> De origen presumiblemente cristiano, debió levantarse tardíamente, a principios del siglo XIV, como alternativa a otro castillo musulmán del que apenas quedan restos, en la parte baja y más próximo al pueblo. La entrada se abre a la terraza de un torreón de planta rectangular que albergaba dos cámaras: una superior, hoy derruida, y otra inferior, un aljibe con bóveda ligeramente apuntada. El castillo contaba, además, con un pequeño patio de armas triangular con parapeto almenado y ventanas saeteras, terraza con albarrana para defender sobre el precipicio, muros protectores, hoy prácticamente destruidos, y esquinas redondeadas exteriores. Fue declarado <strong>Bien de Interés Cultural</strong> en 1985.</p>
        <p class="font-alt"><strong>Iglesia de la Asunción</strong></p>
        <p>La iglesia parroquial de Albanchez de Mágina, de traza renacentista, destaca por su sencillez y austeridad. En el muro norte se identifica una sobria fachada con arco de medio punto. Su estructura interior está marcada por tres naves. Los espacios interiores vienen separados por columnas y semicolumnas coronadas con capiteles toscanos. Su presbiterio es plano y está cubierto por una bóveda de medio cañón.</p>
        <p class="font-alt"><strong>Torre del reloj</strong></p>
        <p>Torreón de planta cuadrada construido durante el siglo XIX. Está rematado por un campanario de estructura de hierro fundido construido en 1883.</p>
        <p class="font-alt"><strong>Fuente de los siete caños</strong></p>
        <p>Pilar abrevadero con frente de sillares, y lavadero público, ejemplo de arquitectura rural tradicional relacionada con el aprovechamiento del agua para el consumo y el regadío de huertas, que posiblemente se remonte al siglo XVI.</p>
        <p class="font-alt"><strong>Fuente de la seda</strong></p>
        <p>Fuente y lavadero público que da nombre a la zona donde se cultivaban las moreras. La producción y el comercio de seda, introducidos por los musulmanes, fue una de las bases económicas de Albanchez hasta el siglo XVIII.</p>
      </div>
    </div>
  </div>
</section>
<br>