<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify">Municipio de la comarca de Sierra Mágina, de {{ municipio.habitantes }} habitantes, formado por la fusión de las localidades de <strong>Bedmar y Garcíez</strong>, que se sitúa en el norte comarcal. Su territorio se extiende desde el río Guadalquivir, al norte, hasta las altas cumbres de Sierra Mágina al sur, por lo que el término municipal es variado y rico tanto en espacios naturales como transformados. Las actividades económicas principales son la agricultura, que ha estado basada tradicionalmente en el cultivo del olivar, y más recientemente en el cultivo del espárrago blanco, que han originado el desarrollo tanto de la industria oleícola como de la de conservas vegetales, bajo cuya influencia empiezan a implantarse nuevos cultivos hortícolas.</p>
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6"><img class="center-block" src="assets/images/pueblos/bedmar/bedmar-castillo.webp" alt="Bedmar - Castillo e iglesia"> <br></div>

      <div class="col-md-6 text-justify">
        <p class="font-alt text-center"><strong>Historia</strong></p>
        <p class="text-justify">El poblamiento de esta zona hunde sus raíces en la prehistoria y ha dejado bellas huellas en sus calles y gentes. Bedmar fue un importante <stong>“castro romano”</stong>, en el que posteriormente se asentaron visigodos y musulmanes.</p>
        <p class="text-justify">Los orígenes de Bedmar se remontan a la época de los íberos, que después servirá de asiento a los <stong>romanos y visigodos. Pero será la ocupación árabe, la que dé entidad a Bedmar, al asentarse junto a la Serrezuela y construir la Villa Vieja. En 1411 la Orden de Santiago edifica el Castillo Nuevo siguiendo las nuevas técnicas defensivas y que ya no podrán tomar las tropas nazaríes. La conquista definitiva castellana se realizó en 1431, tras frecuentes cambios de mano, como consecuencia de la estratégica situación en la frontera nazarí.</p>
        <p>Garcíez fue cedida a Fernando III en 1224 en la rendición de Baeza debido a su posición defendiendo el río Bedmar. Los Reyes Católicos concedieron a Bedmar el título de villa en 1494. En 1510 está documentado que algunos bedmareños acompañaron a Don Pedro de Alvarado en su expedición a América. Problemas de insalubridad harán que a finales del siglo XVI se traslade la villa de Garcíez a las inmediaciones de castillo, a su actual emplazamiento.En 1975 se fusionan los municipios de Bedmar y Garcíez a petición de Bedmar.</p>
      </div>
    </div>
    <div class="row landing-image-text">
      <div class="col-md-6 col-md-push-6">
        <img class="center-block" src="assets/images/pueblos/bedmar/bedmar-castillo2.webp" alt=""><br>
        <img class="center-block" src="assets/images/pueblos/bedmar/iglesia.webp" alt=""> <br>
        <img class="center-block" src="assets/images/pueblos/bedmar/santuario.webp" alt=""><br>
      </div>
      <div class="col-md-6 col-md-pull-6 text-justify">
        <p class="font-alt text-center"><strong>Patrimonio histórico</strong></p>
        <p class="font-alt"><strong>Castillos Viejo y Nuevo</strong></p>
        <p class="text-justify">El Castillo Viejo se levantaba en el lugar conocido como la Serrezuela, bien adaptado a la rocosidad del terreno, con obra de calicanto y refuerzos de mampostería. Pero la necesidad de un mejor baluarte de contención en territorio fronterizo ante la poderosa Granada hizo que, a partir de 1411, la orden de Santiago levantara el Castillo Nuevo, en la actual población, más acorde con las nuevas técnicas de la artillería, mejor dotado para repeler ataques y con más refinamientos poliorcéticos y estéticos. El cuidadoso remate de sus huecos, la calidad de la cantería, las bóvedas de medio cañón de ladrillo, la amplitud de sus dependencias interiores, muestran que también se atendieron aspectos de habitabilidad y comodidad. En 1562 Felipe II acabó enajenándolo a la orden de Santiago para venderlo a don Alonso de la Cueva, aunque su posterior abandono y pérdida de funcionalidad acabó también abocándole a la ruina. </p>
        <p class="font-alt"><strong>Iglesia de Nuestra Señora de la Asunción </strong></p>
        <p class="text-justify">El edificio religioso de mayor valor artístico de la localidad, cercano al castillo, construido en un desnivel del terreno, con magnífica sillería y notables portadas. La parte más antigua, gótica, son la cabecera y el crucero, con bóvedas estrelladas de terceletes. Las tres naves tienen columnas dóricas y arcos de medio punto renacentistas. Su torre, de planta cuadrangular, con cuatro arcos de medio punto para ubicar las campanas, se hace octogonal en el segundo cuerpo. En su interior conserva dos magníficos púlpitos del siglo XVIII y una pila bautismal del XVI.</p>
        <p class="font-alt"><strong>Santuario de Cuadros</strong></p>
        <p class="text-justify">Ya en las Relaciones de Felipe II, de 1575, se cita la gran devoción que en la comarca se sentía por la Virgen de Cuadros cuyo santuario, a cinco kilómetros de Bedmar, se levantó en 1615 formando conjunto con un torreón y un molino medievales.</p>
        <p class="font-alt"><strong>Palacio del Marqués de Viana</strong></p>
        <p class="text-justify">Entre la arquitectura civil destaca el palacio del Marqués de Viana, en el antiguo señorío de Garcíez, levantado en 1548, con una estructura y elementos inicialmente góticos que fueron ampliándose en los dos siglos siguientes.</p>
        <p class="font-alt"><strong>Torre de Cuadros </strong></p>
        <p  class="text-justify">A cuatro kilómetros de Bedmar hacia el sur se levanta la torre-atalaya de Cuadros. De estructura cilíndrica, estrechas saeteras y mampostería regular, fortalecía la defensa del reino de Jaén en esta línea de frontera.</p>
      </div>
    </div>
  </div>
</section>
<br>