.footer {
	padding: 10px 0;

	.copyright {
		margin: 0;
		text-align: center;
	}

	.footer-datos {
		text-align: right;

		a {
			display: inline-block;
			padding: 0 6px;
		}

		a:hover {
			color: #b2d07e;
		}
	}
	.footer-social-links {
		text-align: right;
	}
}

.social-links {

	a {
		display: inline-block;
		padding: 0 6px;
	}

	a:hover {
		color: #b2d07e;
	}
}