<div class="module-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget">
          <p><a href="{{ path('app_main') }}"><img src="assets/images/logoWeb.webp" class="widget-logo" alt="logo"></a></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widget-title font-alt">Conoce Mágina</h5>
          <ul class="icon-list">
            <li><a href="#">Parque Natural</a></li>
            <li><a href="#">Nuestros pueblos</a></li>
            <li><a href="#">Localización</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widget-title font-alt">Guías de interés</h5>
          <ul class="icon-list">
            <li><a href="assets/pdf/Guía Oficial del Parque Natural. Sierra Mágina.pdf" target="_blank" rel="noopener noreferrer">Guia Oficial del Parque Natural</a></li>
            <li><a href="https://www.juntadeandalucia.es/turismoycomercio/publicaciones/37246.pdf" target="_blank" rel="noopener noreferrer">Sierra Mágina y su entorno</a></li>
            <li><a href="http://www.viajarporjaen.com/wp-content/uploads/2018/11/rutas_bicicleta.pdf" target="_blank" rel="noopener noreferrer">Rutas de senderismo</a></li>
            <li><a href="https://www.jaenparaisointerior.es/documents/303680/5760343/GuiaNaturaleza_JPI_Jaen.pdf" target="_blank" rel="noopener noreferrer">Naturaleza en Jaén</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="widget">
          <h5 class="widget-title font-alt">Sobre nosotros</h5>
          <p>Avda Andalucía, 24  Huelma (Jaén)</p>
          <p>Teléfono: <a href="tel:+34629803883">(+34) 629 803 883</a></p>
          <p>Email: <a href="#">info@conocemagina.com</a></p>
          <p class="social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright">&copy; Copyright cMagina 2022&nbsp; Todos los derechos reservados <a href="{{ path('app_main') }}">conocemagina.com</a></p>
      </div>
      <div class="col-sm-6">
        <p class="footer-datos"><a href="">Aviso legal</a><a href="">Política de protección</a><a href="">Política de cookies</a><a href="">Mapa Web</a></p>
      </div>
    </div>
  </div>
</footer>
