<section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="assets/images/sierra/vistas2.webp">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-2">Una joya desconocida en la provincia de Jaén</div>
      <div class="font-alt mb-40 titan-title-size-4"> Visita Sierra Mágina</div>
      <a class="section-scroll btn btn-border-w btn-round" href="#introfrase">Mucho más que olivos</a>
    </div>
  </div>
</section>