<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
  <a class="navbar-brand" href="{{ path('app_main') }}"><img src="assets/images/logo.webp" class="navbar-brand" alt="logo"></a>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="section-scroll" href="#services">Descubre Mágina</a></li>
        <li><a class="section-scroll" href="#alt-features">Gastronomía</a></li>
        <li><a class="section-scroll" href="#team">Alojamientos</a></li>
        <li><a class="section-scroll" href="#pricing">Qué hacer</a></li>
        <li><a class="section-scroll" href="#news">D.O.P</a></li>
        <li><a class="section-scroll" href="#contact">Login</a></li>
      </ul>
    </div>
  </div>
</nav>