<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="{{ path('app_main') }}"><img src="assets/images/logoWeb.webp" class="navbar-brand" alt="logo"></a>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Descubre Mágina</a>
          <ul class="dropdown-menu">
            <li><a href="">El Parque Natural</a></li>
            <li><a href="">Sus pueblos</a></li>
            <li><a href="{{ path('app_location') }}">Localización</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Gastronomía</a>
          <ul class="dropdown-menu">
            <li><a href="">Restaurantes</a></li>
            <li><a href="">Ocio nocturno</a></li>
          </ul>
        </li>
        <li><a href="">Alojamientos</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Qué hacer</a>
          <ul class="dropdown-menu">
            <li><a href="">Visitas guiadas</a></li>
            <li><a href="">Actividades naturaleza</a></li>
            <li><a href="">Rutas libres</a></li>
          </ul>
        </li>
        <li><a href="">D.O.P</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Acceso</a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('app_register') }}">Registro</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>